:root {
  --font-family-primary: 'Oswald', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;
  
  --font-size-title: 40px;
  --line-height-title: 1.4;
  --font-size-caption: 14px;
  --line-height-caption: 1.2;
  
  --color-text: #222022;
  --color-highlight-primary: #ff7e7e;
  --color-highlight-secondary: #b8b7f9;
  --border-radius-primary: 32px; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: rgb(200,174,238);
background: radial-gradient(circle, rgba(200,174,238,1) 0%, rgba(148,187,233,1) 100%);
}

.card {
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.425);
  margin: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  background-color: white;

}

.card .card-img img {
  max-width: 100%;
}

.card-img {
  width: 100%;
  max-height: 400px;
  max-width: 300px;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
  margin-bottom: 18px;
}

.card-img:hover {
  opacity: 80%;
  transition: 1s;
}

.card-date {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 4px;
}

.card-title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  color: var(--color-text);
  box-decoration-break: clone;
  background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
  background-size: 100% 14%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
  margin-left: -4px;
  margin-bottom: 2px;
  margin-top: 6px;
}

.card-content {
  padding-left: 20px;
}

p {
  font-family: var(--font-family-secondary);
  font-size: 13px;
  color: #444244;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #222022;
}

b {
  color: #917eff;
}

button {
  margin: 10px;
  font-family: var(--font-family-primary)
}

.simple {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.simple::after {
  content: "";
  background-color: #b8b7f9;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
}

.simple:hover::after {
  content: "";
  background-color: #ff7e7e;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 1s;
}


